@import './Varablies.scss';

@import './auth-phone-input.scss';

@mixin authFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    align-items: center;
}

@mixin info{
    position: absolute;
    z-index: 3;
    background-color: $main-color;
    left: 17px;
    top: 0px;
    padding: 0 5px;
    color: white;
}

.authFormBoilerplate{
    width: 100%;
    form, input{
        width: 100%;
        background-color: $main-color;
        color: #ffffff;
        outline: none;
        &::placeholder{
            color: #ffffff;
        }
    }
    input{
        border: 1px solid #ffffff;
        height: 52px;
        // height: 3rem;
        margin-top: 10px;
        padding-left: 18px;
        font: normal normal 300 16px/19px var(--sans-light);
        letter-spacing: 0px;
        color: #FFFFFF;
        &[type=submit]{
            @include buttonInput();
            padding: 0;
            background-color: $text-color;
        }
        &.error{
            background-color: red;
            &::placeholder{
                color: white;
            }
        }
    }
    button{
        @include buttonInput();
        padding: 0;
        background-color: $text-color;
        &:disabled{
            background-color: $main-color;
            color: $main-color;
            cursor: auto;
        }
    }
    .inputWrapper{
        position: relative;
        width: 100%;
        // margin-left: 10px;
        .info{
            @include info();
        }
        .infoError{
            @include info();
            color: red;
        }
    }
}

.authFooter{
    @include authFooter();
}

.signupForm{
    .authFooter{
        @include authFooter();
        margin-top: 64px;
    }
    
}

.left{
    font: normal normal 300 13px/15px var(--sans-light);
    letter-spacing: 0px;
    color: #121109;
    cursor: pointer;
}