@import '/styles/Varablies.scss';

.billboard{
    position: relative;
    height: 738px;
    @media (max-width: 700px){
      height: auto;
      padding-bottom: 59px;
    }
  }
  
.billboardWrapper{
    @include with-background("/images/main.png", $main-color, 0);
    @media(max-width: 700px){
      background-size: cover;
      background-position: center center;
    }
}

.noBackground{
  color: $text-color;
}

.onasBillboard{
  position: relative;
  height: 433px;
}

.onasBillboardWrapper{
  @include with-background("/images/o_nas.png", $main-color, 0);
  background-position: 0 100%;
}
