@import '/styles/Varablies.scss';

.billboard{
    position: relative;
    height: 738px;
  }
  
.billboardWrapper{
    @include with-background("/images/office.png", $main-color, 0);
}

.noBackground{
  color: $text-color;
}

.onasBillboard{
  position: relative;
  height: 433px;
}

.onasBillboardWrapper{
  @include with-background("/images/office.png", $main-color, 0);
  background-position: 0 100%;
}
