@mixin calendar {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    justify-content: flex-start;
    max-width: 1030px;
    margin-bottom: 50px;
    justify-content: space-between;
    padding-right: 20px;    
}

.calendar{
    @include calendar();
    @media (max-width: 800px) {
        flex-direction: column;
        padding-right: 0px;
    }
}

.rezCalendar{
    @include calendar();
    @media (max-width: 1200px) {
        flex-direction: column;
        padding-right: 0px;
    }
}

.own{
    // border: 1px solid yellowgreen;
    padding: 15px;
    @media (max-width: 1024px) {
        padding: 0
    }
}