@import '../styles/Varablies.scss';

.linkButton{
    @include linkButton(44px);
    margin-left: $main-margin-left;
}

.linkButtonWrapper{
    padding-bottom: 101px;
}

.cennik{
    position: relative;
}

.headerTitle{
    @include headerTitle();
    margin-top: 150px;
    margin-bottom: 85px;
}

.headerText{
    @include headerText();
    padding: 0;
    margin-top: 0;
    margin-bottom: 44px;
}

.headerBoldFont{
    font: normal normal normal 56px/66px "Work Sans Black";
    text-transform: uppercase;
}

.title{
    @include title();
    margin-bottom: 0;
    .boldFont{
        text-transform: lowercase;
    }
}

.info{
    margin-top: 107px;
    padding-bottom: 107px;
    padding-right: $sidebar-width;
    margin-left: $main-margin-left;
    font: normal normal 300 24px/42px "Work Sans Light";
    letter-spacing: 0px;
    color: #411141;
    li{
        list-style-type: none;
        padding-left: 65px;
    }
    ul{
        position: relative;
    }
    ul li:before {
        content: "—";
        position: absolute;
        left: 65px;
    }
}

@mixin barItem {
    position: relative;
    padding: 18px 37px;
    border-top: 2px solid $main-color;
    border-bottom: 2px solid $main-color;
    border-right: 2px solid $main-color;
    font: normal normal normal 16px/19px "Work Sans";
    letter-spacing: 0.8px;
    color: $text-color;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.4s;
    &:first-child{
        border-left: 2px solid $main-color;
    }
    &::after {
        content: ''; 
        position: absolute; /* Абсолютное позиционирование */
        left: 47%; bottom: -35px; /* Положение треугольника */
        border: 13px solid transparent; /* Прозрачные границы */
        border-top: 20px solid $main-color; /* Добавляем треугольник */
    }
}

.cennikBar{
    display: flex;
    margin-left: $main-margin-left;
    margin-top: 44px;
    margin-bottom: 108px;
    .barItem{
        @include barItem()
    }
    .selectedItem{
        @include barItem();
        background-color: $main-color;
        color: #ffffff;
    }
}

