@import '../styles/Varablies.scss';

.linkButton{
    @include linkButton(44px);
    margin-left: $main-margin-left;
}

.linkButtonWrapper{
    padding-bottom: 101px;
}

.cennik{
    position: relative;
}

.headerTitle{
    @include headerTitle();
    margin-top: 150px;
    margin-bottom: 85px;
}

.headerText{
    @include headerText();
    padding: 0;
    margin-top: 0;
    margin-bottom: 44px;
}

.headerBoldFont{
    font: normal normal 900 56px/66px "Work Sans Black";
    text-transform: uppercase;
}

.title{
    @include title();
    margin-bottom: 0;
    .boldFont{
        text-transform: lowercase;
    }
}

.info{
    margin-top: 107px;
    padding-bottom: 107px;
    padding-right: $sidebar-width;
    margin-left: $main-margin-left;
    font: normal normal 300 24px/42px "Work Sans Light";
    letter-spacing: 0px;
    color: #411141;
    li{
        list-style-type: none;
        padding-left: 65px;
    }
    ul{
        position: relative;
    }
    ul li:before {
        content: "—";
        position: absolute;
        left: 65px;
    }
}

@mixin barItem {
    position: relative;
    padding: 18px 37px;
    border-top: 2px solid $main-color;
    border-bottom: 2px solid $main-color;
    border-right: 2px solid $main-color;
    font: normal normal normal 16px/19px "Work Sans";
    letter-spacing: 0.8px;
    color: $text-color;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.4s;
    &:first-child{
        border-left: 2px solid $main-color;
    }
    &::after {
        content: ''; 
        position: absolute; /* Абсолютное позиционирование */
        left: 47%; bottom: -35px; /* Положение треугольника */
        border: 13px solid transparent; /* Прозрачные границы */
        border-top: 20px solid $main-color; /* Добавляем треугольник */
    }
}

.cennikBar{
    display: flex;
    margin-left: $main-margin-left;
    margin-top: 44px;
    margin-bottom: 108px;
    .barItem{
        @include barItem()
    }
    .selectedItem{
        @include barItem();
        background-color: $main-color;
        color: #ffffff;
    }
}

.blocks{
    display: flex;
    justify-content: space-between;
    margin-left: $main-margin-left;
    margin-right: 149px;
    margin-bottom: 100px;
}

@mixin cennik-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $border;
    border-width: 2px;
    width: 400px;
    transition-duration: 0.3s;
    &:hover{
        border: 2px solid $main-color;
        transform: translateY(-15px);
        // transform: scale(1.05);
        -webkit-box-shadow: 0px 15px 10px 6px rgba(0,0,0,0.75); 
        box-shadow: 0px 15px 10px 6px rgba(0,0,0,0.75);
    } 
}

.block{
    @include cennik-block();
}

.mainBlock{
    @include cennik-block();
    background-color: $main-color;
    position: relative;
}

.slash{
    position: absolute;
    right: 10.5rem;
    top: -15rem;
    color: rgb(226, 204, 0);
    // opacity: 0.1;
    font-size: 30rem;
    font-weight: bolder;
    letter-spacing: -10rem;
}

.blockTitle{
    font: normal normal 24px/28px "Work Sans Medium";
    color: $text-color;
    padding-top: 38px;
    z-index: 1;
}

.digit{
    font: normal normal 900 100px/33px "Work Sans Black";
    letter-spacing: 4px;
    color: $text-color;
    padding-top: 60px;
    z-index: 1;
}

.afterDigit{
    font: normal normal 300 16px/33px "Work Sans Light";
    letter-spacing: 0.64px;
    color: $text-color;
    padding-top: 25px;
    z-index: 1;
}

.blockLinkButton{
    @include linkButton(44px);
    margin: 0;
    margin-top: 20px;
    background-color: $main-color;
    z-index: 1;
    &:hover{
        background-color: $text-color;
        a{
            color: #ffffff;
        }
    }
}

.description{
    font: normal normal 300 16px/28px "Work Sans Light";
    letter-spacing: 0.64px;
    color: $text-color;
    padding: 0 41px;
    padding-top: 50px;
    z-index: 1;
}