@import './Varablies.scss';

.dane{
    position: relative;
    @include konto();
    @include profileInput();
    .text{
        @include profileText();
    }
    .buttonInput{
        // margin-top: 20px;
        height: 52px !important;
        width: auto !important;
        padding-left: 80px !important;
        padding-right: 80px !important;
        &:disabled{
            background-color: white;
            cursor: auto;
        }
    }
    .cancelBtn{
        @include buttonInput();
        margin-left: 10px;
        margin-top: 10px;
        height: 52px;
        background-color: $text-color;
        color: white;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.editBtnWrapper{
    display: flex;
    justify-content: flex-end;
    width: 791px;
}

.noEditFields{
    display: flex;
    color: $text-color;
    margin-top: 60px;
    .readyField{
        margin-bottom: 23px;
        display: flex;
    }
    .title{
        font: normal normal 900 16px/19px "Work Sans Black";
    }
    .value{
        font: normal normal 300 16px/19px "Work Sans Light";
    }
    .left{
        min-width: 287px;
        padding-right: 52px;
    }
}

.editButton{
    @include buttonInput();
    // margin-top: 76px;
    margin-top: 4px;
}

