@import './Varablies.scss';

.title{
    color: #E58963;
    letter-spacing: -0.1px;
    font-size: 20px;
}

.display{
    position: relative;
    .buttonInput{
        @include buttonInput();
        margin-top: 20px;
        &:disabled{
            background-color: white;
        }
    }
}

.canvasLogo{
    position: absolute;
    top: 0;
    left: 0;
}

.editLogo{
    max-width: 100%;
    max-height: 100%;
}

.displayForm{
    width: auto !important;
}

.description{
    @include blockText();
    margin-top: 19px;
    margin-bottom: 20px;
    padding: 0;
    @media (max-width: 700px) {
        font: normal normal 300 12px/19px "Work Sans Light";
    }
}

.altDescription{
    @include blockText();
    margin-top: 20px;
    padding: 0;
    @media (max-width: 700px) {
        font: normal normal 300 12px/19px "Work Sans Light";
    }
}
