@import './Varablies.scss';

@mixin h2{
    font: normal normal 900 35px/42px "Work Sans Black";
    letter-spacing: 0px;
    color: #FFFFFF;
}

.footerWrapper{
    background-color: $main-color;
}

.footer{
    background: $main-color 0% 0% no-repeat padding-box;
    padding-top: 57px;
    padding-bottom: 84.5px;
    margin: auto;
    max-width: 1440px;
    .wrapper{
        border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.2);
        padding-left: $main-margin-left;
        padding-right: 170px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1180px) {
            padding-right: 20px;
        }
        @media (max-width: 800px) {
            flex-direction: column-reverse;
            padding-right: 0px;
        }
        @media (max-width: 700px) {
            flex-direction: column-reverse;
            padding-left: 26px;
            padding-right: 0px;
        }
        .column{
            padding-right: 10px;
            transition-duration: 0.4s;
            // &:nth-child(2){
            //     @media all and (max-width: 1300px){
            //         display: none;
            //     } 
            // }
            @media (max-width: 700px) {
                padding-right: 0px;
            }
        }
        a{
            text-decoration: none;
        }
        h2{
            margin-top: 0;
            // margin-bottom: 46px;
            margin-bottom: 35px;
            @include h2;
            @media (max-width: 700px) {
                margin-bottom: 30px;
                font: normal normal 900 30px/35px "Work Sans Black";
            }
            &.last{
                margin-bottom: 80px;
            }
            &:hover{
                color: $text-color
            }
        }
        .regions{
            display: flex;
            font: normal normal 300 16px/27px "Work Sans Light";
            letter-spacing: 0px;
            a{
                color: #FFFFFF;
            }
            .regionsOne{
                display: flex;
                flex-direction: column;
                margin-right: 30px;
            }
            .regionsTwo{
                display: flex;
                flex-direction: column;
            }
        }
        .columnWrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // padding-bottom: 80px;
            height: 100%;
            @media (max-width: 700px) {
                padding-bottom: 45px;
            }
            .top{
                display: flex;
                flex-direction: column;
                font: normal normal 300 16px/19px "Work Sans Light";
                letter-spacing: 0px;
                color: #FFFFFF;
                max-width: 295px;
                .logo{
                    margin-bottom: 0;
                    width: 10%;
                }
                .textOne{
                    padding: 21px 0;
                }
                .textTwo{
                    max-width: 350px;
                    a:hover{
                        color: $text-color;
                    }
                    @media (max-width: 700px) {
                        width: auto
                    }
                }
                .bold{
                    font: normal normal 900 16px/19px "Work Sans Bold";
                }
            }
            .bottom{
                display: flex;
                max-width: 200px;
                justify-content: space-between;
                padding-top: 40px;
            }
        }
        >:nth-child(2){
            >:nth-child(1){
                >:nth-child(1){
                    margin: 0;
                    background-color: white;
                    margin-bottom: 22px;
                    transition-duration: 0.4s;
                    a{
                        color: $main-color;
                    }
                    &:hover{
                        background-color: $text-color;
                        a{
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}

.thirdColumn{
    max-width: 340px;
    @media (max-width: 700px) {
        width: auto;

    }
}

.textTwo{
    color: #FFFFFF;
    a:hover{
        color: $text-color;
    }
}

.bottom{
    display: flex;
    max-width: 120px;
    justify-content: space-between;
    // padding-top: 40px;
    margin-bottom: 35px;
    height: 41.6px;
    align-items: center;
    @media (max-width: 700px) {
        margin-bottom: 30px;
        max-width: 180px;
    }
    a{
        svg{
            &:hover{
                color: $text-color;
            } 
        }
    }
}

.contacts{
    // align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    .email{
        @include blockText();
        padding: 0;
        color: #ffffff;
        font: normal normal 900 16px/22px "Work Sans Black";
        a{
            text-decoration: underline;
        }
    }
    .phone{
        @include blockTitle();
        padding: 0;
        color: #ffffff;
        margin-top: 13px;
        font: normal normal 900 20px/22px "Work Sans Black";
    }
}

.footer svg:hover path{
    transition-duration: 0.4s;
    fill: $text-color;
}

.firstColAuth{
    display: none;
}
.secondColAuth{
    display: block;
}

@media (max-width: 700px){
    .firstColAuth{
        display: block;
    }
    .secondColAuth{
        display: none;
    }   
}