@font-face {
  font-family: "Work Sans Black";
  src: url("/fonts/WorkSans-Black.ttf");
}

@font-face {
  font-family: "Work Sans Light";
  src: url("/fonts/WorkSans-Light.ttf");
}

@font-face {
  font-family: "Work Sans Bold";
  src: url("/fonts/WorkSans-Bold.ttf");
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: "Work Sans Thin";
  src: url("/fonts/WorkSans-Thin.ttf");
}

@font-face {
  font-family: "Work Sans Medium";
  src: url("/fonts/WorkSans-Medium.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

