@import './Varablies.scss';

.headerButtons{
    display: flex;
}

@mixin header {
    height: 150px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    top: 0;
    left: 0;    
}

.header{
    @include header()
}

.profileHeader{
    @include header();
    border-bottom: 2px solid $main-color;
}

.header .logo{
    margin-left: $main-margin-left;
}

.profileHeader .logo{
    margin-left: 50px;
}

.header .logo a{
    @include header-logo();
}

.profileHeader .logo a{
    @include header-logo();
    color: $solid-color;
}


.header .button{
    @include linkButton(44px);
    margin-right: 20px;
}

.loginButton{
    @include linkButton(44px);
    background-color: #ffffff;
    color: $main-color;
    font: normal normal bold 16px/19px "Work Sans Bold";
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border: none;
}

.profileHeader .button{
    @include linkButton(44px);
    background: $main-color 0% 0% no-repeat padding-box;
    a{
        color: white;
    }
}

.header .profileButton{
    @include linkButton(44px);
    background: #ffffff 0% 0% no-repeat padding-box;
    a{
        color: $main-color;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
}

.plug{
    @include linkButton(44px);
    background-color: none;
    opacity: 0;
    cursor: auto;
}

// .header .logo:hover path, .header .logo:hover rect{
//     transition-duration: 0.4s;
//     fill: #ffffff;
// }

.logoText{
    font: normal normal 300 16px/24px "Work Sans Light";
    letter-spacing: 0.64px;
    opacity: 0;
    transition-duration: 0.3s;
    color: $text-color;
}

.header .logo:hover .logoText{
    color: white;
    opacity: 1;
}

.regularHeader .logo:hover .logoText{
    opacity: 1;
}



