@import '/styles/Varablies.scss';

  
.container{
  position: relative;
  @include start-animation()
}

.containerNoAnimation{
    position: relative;
}

.titleTwo{
  @include title();
  max-width: 670px;
  // border-bottom: 1px solid #B9B9B9;
}

.titleThree{
  @include title();
  max-width: 1114px;
  margin-bottom: 31px;
  margin-top: 115px;
  @media all and (max-width: 1300px){
    width: auto;
    margin-right: 150px;
  }
  @media all and (max-width: 700px){
    width: auto;
    margin-top: 61px;
    max-width: 269px;
    margin-right: 0;
    margin-bottom: 12px;
  }
//   @media all and (max-width: 1300px){
//     width: 800px;
//   }
//   @media all and (max-width: 1024px){
//     width: 600px;
//   }
//   @media all and (max-width: 740px){
//     width: 550px;
//   }
//   @media all and (max-width: 620px){
//     width: auto;
//   }
}

.calendarTitle{
    @include title();
    max-width: 1050px;
    margin-bottom: 31px;
    margin-top: 86px;
    @media (max-width: 700px) {
        width: auto;
        margin-top: 61px;
        margin-bottom: 16px;
    }
}

.calendarLink{
    text-decoration: underline;
}

.headerForm input[type=button]{
  @include buttonInput();
  background-color: $text-color;
}

.noBackgroundBillboardText{
  @include noBackgroundBillboardText();
  max-width: 892px;
  font: normal normal 300 56px/66px var(--sans-light);
  margin-bottom: 90px;
  .headerBoldFont{
      color: $text-color;
      font: normal normal 900 56px/66px var(--sans-black);
  }
  @media all and (max-width: 1300px){
    width: auto;
    margin-right: 150px;
  }
//   @media all and (max-width: 1300px){
//     width: 800px;
//   }
//   @media all and (max-width: 1024px){
//     width: 600px;
//   }
//   @media all and (max-width: 740px){
//     width: 550px;
//   }
//   @media all and (max-width: 620px){
//     width: auto;
//   }
}

.headerText{
  @include headerText();
  @media(max-width: 700px){
      display: none;
  }
}

.headerForm{
  @include headerForm();
  padding-bottom: 36px;
  position: absolute;
  bottom: 0;
}

.headerBoldFont{
  @include headerBoldFont();
}

.smallText{
  @include smallText();
  padding-bottom: 61px;
  text-transform: lowercase;
  max-width: 945px;
//   @media all and (max-width: 1300px){
//     width: 800px;
//   }
//   @media all and (max-width: 1024px){
//     width: 600px;
//   }
//   @media all and (max-width: 740px){
//     width: 550px;
//   }
//   @media all and (max-width: 620px){
//     width: auto;
//   }
}

.smallTextBold{
    font-weight: bold;
    font-family: var(--sans-bold);
    text-transform: uppercase;
}

.blockWrapper{
    z-index: 1;
    border: 1px solid $main-color;
    padding-bottom: 20px;
    &:hover{
        .blockText{
            // color: #ffffff;
        }
    }
    @media all and (max-width: 1300px){
        margin-right: 40px;
        // margin-bottom: 70px;
    }
    @media all and (max-width: 1100px){
        margin-right: 20px;
        flex: 1;
    }
    @media all and (max-width: 700px){
        margin-bottom: 20px;
        margin-right: 26px;
    }
}

.blocks{
  @include blocks(225.5px);
  margin-right: 149px;
  margin-bottom: 0;
  .blockText{
    font: normal normal 300 16px/24px var(--sans-light);
    display: block;
    letter-spacing: 0.64px;
    // padding: 30.5px 45px 0 36.05px;
    padding-top: 15px;
    padding-left: 28px;
    padding-right: 45px;
    transition-duration: 0.4s;
    &:hover{
        // color: #ffffff;
    }
    @media all and (max-width: 1300px){
        // font: normal normal 300 15px "Work Sans Light";
    }
    @media all and (max-width: 700px){
        font: normal normal 300 14px/24px var(--sans-light);
        &:last-child{
            padding-bottom: 20px;
        }
    }
  }
  .mainBlockWrapper{
      .blockText{
        //   color: #ffffff;
      }
  }
  .boldText{
    font: normal normal 900 16px/24px var(--sans-black);
    letter-spacing: 0.64px;
    text-transform: uppercase;
  }
  @media all and (max-width: 1300px){
    margin-right: 0px;
  }
}

.blockHeader{
    position: relative;
    margin-top: 40px;
    margin-left: 28px;
    // height: 88px;
    padding-bottom: 15px;
    font: normal normal 900 20px/24px var(--sans-black);
    letter-spacing: 0px;
    color: $text-color;
    text-transform: capitalize;
    &::after{
        content: "";
        position: absolute;
        background-color: $main-color;
        height: 2px;
        bottom: 0;
        left: 0;
        width: 70px;
    }
    @media(max-width: 700px){
        font: normal normal 900 16px/24px var(--sans-black);
        margin-top: 20px;
    }
    // .blockHeaderFirst{
    //     max-width: 240px;
    // }
    // .blockHeaderThird{
    //     max-width: 343px;
    // }
}

.blocksTwo{
  @include blocks(0px);
  padding-bottom: 103.5px;
  margin-right: 160px;
  @media (max-width: 1350px){
      margin-right: 50px;
  }
  @media (max-width: 700px){
    margin-right: 26px;
}
  .blockText{
      padding-bottom: 60px;
      line-height: 25px;
  }
}

.title{
  @include title();
  max-width: 791px;
}

.textBlock{
    display: flex;
    justify-content: space-between;
    margin-left: $main-margin-left;
    margin-right: 150px;
    font: normal normal 300 16px/26px var(--sans-light);
    // font: normal normal 300 60px/71px "Work Sans Light";
    letter-spacing: 0.64px;
    color: $text-color;
    .text{
        max-width: 620px;
    }
    .boldText{
        font: normal normal 900 16px/26px var(--sans-black);
        // font: normal normal 900 60px/71px "Work Sans Black";
        letter-spacing: 0.64px;
        color: $text-color;
    }
}

.blockLarge{
    // .blockText{
    //     padding: 45.5px 36px 0 35px;
    //     font: normal normal 300 16px/24px "Work Sans Light";
    //     letter-spacing: 0.64px;
    //     color: $text-color;
    // }
    width: 100%;
    border: 1px solid $main-color;
    >:nth-child(1){
        z-index: 1;
    }
    @media (max-width: 700px) {
        padding: 24px 24px 0 24px;
    }
    .blockLargeInner{
        display: flex;
        @media (max-width:700px){
            flex-direction: column;
        }
        .left{
            // margin-right: 40px;
            max-width: 50%;
            @media (max-width:700px){
                max-width: 100%;
            }
        }
        .right{
            max-width: 50%;
            @media (max-width:700px){
                max-width: 100%;
            }
        }
        .blockHeader{
            @media (max-width:700px){
                margin: 0;
            }            
        }
        .blockText{
            a{
                text-decoration: underline;
            }
            @media (max-width:700px){
                padding: 12px 0 24px 0;
            }            
        }
    }
}

.headerTitle{
    @include headerTitle();
    margin-top: 40px;
    max-width: none;
    font: normal normal normal 56px/66px var(--sans);
    margin-bottom: 20px;
    @media (max-width: 700px){
        margin-top: 20px;
        margin-left: 26px;
    };
}

.headerText{
    @include headerText();
    font: normal normal normal 16px/24px var(--sans);
    margin-top: 0;
}

.headerBoldFont{
    @include headerBoldFont();
}

.headerTextBoldFont{
    @include headerBoldFont();
    font: normal normal 900 16px/24px var(--sans-black);
    @media all and (max-width: 1300px){
        font: normal normal 900 16px/24px var(--sans-black);
    }
}

.none{
    opacity: 0;
    // transition: opacity 500ms linear 0s;
    position: absolute;
}

.show{
    .headerTitle{
        margin-top: 20px;
    }
    opacity: 1;
    transition: opacity 500ms linear 0s;
    position: absolute;
}

.headerOne{
    .headerTitle{
        // width: 918px;
        max-width: 940px;
        margin-right: 150px;
        @media all and (max-width: 1024px){
            width: auto;
            max-width: 650px;
            margin-right: 0px;
        }
        @media all and (max-width: 700px){
            width: auto;
            margin-right: 0;
            max-width: 270px;
        }
    }
    .headerText{
        @media all and (max-width: 1024px){
            max-width: 700px;
        }
    }
}

.headerTwo{
    width: auto;
    .top{
        max-width: 1020px;
        margin-bottom: 5px;
        // text-align: center;
        margin-right: 150px;
        @media all and (max-width: 1024px){
            width: auto;
            margin-right: 0px;
            max-width: 860px;
        }
        @media all and (max-width: 700px){
            width: auto;
            margin-right: 0;
            max-width: 550px;
        }
    }
    .bottom{
        max-width: 1100px;
        margin-right: 150px;
        @media all and (max-width: 1024px){
            width: auto;
            margin-right: 0px;
            max-width: 950px;
        }
        @media all and (max-width: 700px){
            width: auto;
            margin-right: 0;
            max-width: 550px;
        }
    }
    .headerText{
        max-width: 1020px;
        margin-right: 150px;
        @media all and (max-width: 1024px){
            width: auto;
            margin-right: 0px;
            max-width: 900px;
        }
        @media all and (max-width: 700px){
            width: auto;
            margin-right: 0;
            max-width: 270px;
        }
    }
    .headerTitle{
        width: auto;
    }
}

.headerThree{
    .headerTitle{
        max-width: 980px;
        margin-right: 150px;
        @media all and (max-width: 1024px){
            width: auto;
            margin-right: 0px;
        }
    }
    .headerText{
        @media all and (max-width: 1024px){
            max-width: 820px;
        }
    }
}

.headerOne, .headerTwo, .headerThree{
    .headerFlex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 450px;
        @media (max-width: 1024px){
            min-height: 350px;
        }        
        @media (max-width: 700px){
            min-height: auto;
        }
    }
}

.fullBlockWrapper{
    display: flex;
    justify-content: space-between;
    // width: 100%;
    min-width: 1240px;
    background-color: #ffffff;
    z-index: 1;
    @media all and (max-width: 1300px){
        // display: none;
        min-width: auto;
    }
    @media all and (max-width: 1180px){
        z-index: 0;
    }
    @media all and (max-width: 700px){
        flex-direction: column;
        align-items: flex-start;
        min-width: auto;
    }
}

.splitBlockWrapper{
    display: none;
    @media all and (max-width: 1300px){
        display: flex;
    }
    .blockWrapper{
        height: 300px;
    }
}
  
.middleText{
    margin-left: 147px;
    margin-right: 150px;
    // margin-left: 15%;
    margin-top: 165px;
    max-width: 1031px;
    p{
        font: normal normal bold 30px/40px var(--sans-bold);
        letter-spacing: 0.6px;
        color: #121109;  
        margin: 0;
        @media (max-width: 700px){
            font: normal normal bold 20px/33px var(--sans-bold);
        }
    }
    @media (max-width: 700px){
        margin-left: 26px;
        margin-top: 74px;
        margin-right: 26px;
    }
}

.homePageCalendar{
    margin-left: $main-margin-left;
    @media (max-width:700px) {
        margin-left: 26px;
        margin-right: 26px;
    }
}

.wfirmaBlockWrapper{
    @include with-background("/images/wfirma.png", none, 1);
    position: relative;
    height: auto;
    background-color: rgba($color: #000000, $alpha: 0.35);
    background-position: center;
    height: 532px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 135px;
    @media (max-width: 700px) {
        height: auto;
        margin-top: 94px;
        padding: 76px 26px;
        background-size: cover;
    }    
    .wfirmaText{
        text-align: center;
        font: normal normal 300 45px/77px var(--sans-light);
        max-width: 1152px;
        z-index: 1;
        @media (max-width: 700px) {
            font: normal normal 300 20px/30px var(--sans-light);
            max-width: 420px;
        }
        h4{
            margin: 0;
            color: white;
        }
        .bold{
            font: normal normal 900 45px/77px var(--sans-black);
            @media (max-width: 700px) {
                font: normal normal 900 20px/30px var(--sans-black);            
            }
        }
        .underline{
            text-decoration: underline;
            font: normal normal 900 45px/77px var(--sans-black);
            cursor: pointer;
        }
        a{
            text-decoration: underline;
        }
    }
}

.underlined{
    text-decoration: underline;
    font-weight: bold;
}

.wynajmijButtonWrapper{
    min-height: 50px;
    @media (max-width: 700px) {
        min-height: 70px;
    }
}
