@import './Varablies.scss';

@mixin hour {
    display: flex;
    // flex-basis: 33%;
    justify-content: center;
    padding: 10px 0;
    font: normal normal normal 14px/16px Work Sans;
    letter-spacing: 0px;
    width: 96px;
}

.hoursWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hour{
    @include hour();
}

.price{
    display: flex;
    align-items: baseline;
    .title{
        @include blockText();
        padding-top: 0;
        padding-right: 0;
    }
    .result{
        @include blockTitle();
        padding-top: 0;
        padding-left: 8px;
    }
}

.hours{
    display: flex;
    margin-top: 10px;
    width: 390px;
    flex-wrap: wrap;
    color: #121109;
    cursor: default;
    .selected{
        background-color: $main-color;
    }
    
    .free{
        // background-color: mediumspringgreen;
        cursor: pointer;
    }
    
    .reserved{
        // background-color: mediumvioletred;
        color: rgba(0, 0, 0, 0.38)
    }
    
    .middle{
        // background-color: orange;
        background-color: $solid-color;
        cursor: pointer;
    }
    
    .start{
        // background-color: royalblue;
        background-color: $solid-color;
        cursor: pointer;
    }
    
    .finish{
        // background-color: purple;
        background-color: $solid-color;
    }
    
    .past{
        // background-color: slategrey;
        color: rgba(0, 0, 0, 0.38)
    }
    
    .noaccess{
        // background-color: lightgrey;
        color: rgba(0, 0, 0, 0.38)
    }

    .init{
        // background-color: lightgrey;
        color: $main-color
    }
    
    .session{
        background-color: navy;
    }
    
    .possible{
        // background-color: lightgreen;
        cursor: pointer;
    }
    
    .border{
        // background-color: tomato;
        // color: rgba(0, 0, 0, 0.38);
        color: $text-color;
    }  
}

.board{
    position: relative;
    margin-top: 25px;
}

.boardString{
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    font: normal normal bold 17px/15px "Work Sans Black";
    letter-spacing: 0px;
    color: #121109;
    height: 20px;
    .boardResult{    
        padding-right: 35px;
    }
    .homePageBoardResult{
        padding-right: 35px;
    }
}

@mixin btn{
    width: 390px;
    height: 53px;
    margin-top: 8px;
    font: normal normal 900 18px/21px "Work Sans Black";
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.reserveBtn{
    @include btn();
    background: $main-color 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    transition-duration: 0.4s;
    &:hover{
        background-color: white;
        color: $main-color;
        border: 2px solid $main-color;
    }
    &:disabled{
        cursor: auto;
        color: white;
        border: 2px solid white;
        background-color: $main-color;
    }
}

.cancelBtn{
    @include btn();
    background: #121109 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    transition-duration: 0.4s;
    &:hover{
        background-color: white;
        border: 2px solid red;
        color: $text-color;
    }
}

.sprawdzBtn{
    @include btn();
    background: $main-color 0% 0% no-repeat padding-box;
    font: normal normal 900 16px/21px "Work Sans Black";
    letter-spacing: -0.09px;
    // color: #FFFFFF;
    transition-duration: 0.4s;
    border: 2px solid $main-color;
    &:hover{
        background-color: #FFFFFF;
        color: $main-color;
        border: 2px solid $text-color;
    }
}

.homeCancelBtn{
    @include btn();
    background: #121109 0% 0% no-repeat padding-box;
    font: normal normal 900 16px/21px "Work Sans Black";
    color: #FFFFFF;
    transition-duration: 0.4s;
    &:hover{
        background-color: #FFFFFF;
        color: $text-color;
        border: 2px solid $text-color;
    }
}

.btns{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}  






