@import './Varablies.scss';

.header{
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    .mainPackageName{
        // font-weight: bolder;
        font-family: "Work Sans Black";
    }
    .packageName{
        // color: #999999;
    }
    .endDate{
        margin-left: 10px;
    }
    .updateBtn{
        @include buttonInput();
        width: 250px;
    }
    .linkBtn{
        @include linkButton(55px);
        margin-right: 0;
        background-color: $main-color;
    }
}

.kontoPackages{
    margin-top: 30px;
    .packages{
        margin-left: 0;
    }
    p{
        width: 576px;
    }
}