@import './Varablies.scss';

.headerTextBoldFont{
    @include headerBoldFont();
    font: normal normal 900 16px/24px var(--sans-black);
    @media all and (max-width: 1300px){
        font: normal normal 900 16px/24px var(--sans-black);
    }
}

.noBackgroundBillboardText{
    @include noBackgroundBillboardText();
    max-width: 1115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    margin-bottom: 180px;
    @media (max-width: 1400px) {
        margin-left: 50px;
        margin-right: 150px;
    }
    @media (max-width: 1180px) {
        margin-right: 50px;
        text-align: center;
    }
    @media (max-width: 700px) {
        font: normal normal 900 20px/24px var(--sans-black);
        margin: 62px 26px 101px 26px;
        text-align: left;
    }
}

.buttonInput{
    @include buttonInput();
    background-color: $text-color;
}

.linkButton{
    @include linkButton(44px);
    margin-left: $main-margin-left;
    background-color: $main-color;
}

.linkButtonWrapper{
    padding-bottom: 101px;
}

.ksiegowosc{
    position: relative;
    @include start-animation();
    .headerTitle{
        @include headerTitle();
        // margin-top: 150px;
        margin-top: 50px;
        // width: 595px;
        width: auto;
        max-width: 1100px;
        margin-right: 150px;
        @media (max-width: 700px) {
            max-width: 340px;
        }
        a{
            text-decoration: underline;
        }
    }
    .headerText{
        @include headerText();
        padding-bottom: 44px;
        margin-top: 52px;
        width: auto;
        max-width: 1030px;
        margin-right: 150px;
        @media (max-width: 700px) {
            max-width: 380px;
        }
    }
    .title{
        @include title();
        // width: 488px;
        max-width: 1125px;
        margin-bottom: 120px;
        .boldFont{
            text-transform: lowercase;
        }
        a{
            text-decoration: underline;
        }    
    }
    .smallText{
        @include smallText();
        padding-bottom: 31px;
    }
    .headerBoldFont{
        @include headerBoldFont();
    }
    // >:nth-child(2){
    //     height: auto;
    //     >:nth-child(5){
    //         padding-bottom: 30px;
    //     }
    // }
    .blocks{
        @include blocks(107px);
        >:nth-child(n){
            border: 1px solid $main-color;
            margin-right: 20px;
        }
        margin-right: 0px;
        max-width: 1500px;
        flex-wrap: nowrap;
        .blockTitle{
            padding-top: 33px;   
            max-width: 260px;
            @media (max-width: 700px) {
                font: normal normal 900 20px/24px var(--sans-black);
            }
        }
        .blockText{
            display: flex;
            padding: 29px 44px 0 29px;
            font: normal normal 300 16px/19px var(--sans-light);
            letter-spacing: 0px;
            line-height: 2;
            color: $text-color;
            @media (max-width: 700px) {
                font: normal normal 300 14px/30px var(--sans-light);
            }
        }
        @media (max-width: 850px) {
            margin-left: 0;
            margin-bottom: 18px;
            flex-wrap: wrap;
            >:nth-child(n){
                margin-bottom: 18px;
            }
            >:nth-child(odd){
                margin-left: 26px;
                margin-right: 0;
                border-right: none;
            }
            >:nth-child(even){
                border-left: none;
                padding-left: 26px;
            }
        }
    }
    .secondTitle{
        .title{
            max-width: 800px;
            margin-bottom: 99px;
            @media (max-width: 700px) {
                margin-top: 0;
                margin-bottom: 31px;
            }
            .boldFont{
                text-transform: none;
            } 
        } 
    }
    .thirdTitle{
        .title{
            @include title();
            width: 761px;
            margin-bottom: 75.5px;
            .boldFont{
                text-transform: none;
            } 
        } 
    }
    .records{
        max-width: 1130px;
        display: flex;
        justify-content: space-between;
        margin-left: $main-margin-left;
        margin-bottom: 185px;
        margin-right: 150px;
        @media (max-width: 1180px) {
            margin-right: 0;
        }
        @media (max-width: 950px) {
            flex-direction: column;
            margin-bottom: 62px;
        }
        .record{
            display: flex;
            flex-direction: column;
            position: relative;
            padding-right: 20px;
            text-align: center;
            @media (max-width: 950px) {
                margin-bottom: 36px;
            }
            .top{
                font: normal normal 900 56px/66px var(--sans-black);
                letter-spacing: 0px;
                color: $main-color;
                text-transform: lowercase;
            }
            .bottom{
                // position: absolute;
                font: normal normal 300 16px/25px var(--sans-light);
                letter-spacing: 0px;
                color: #411141;
                left: 0;
                bottom: -30px;
                // max-width: 300px;
                @media (max-width: 700px) {
                    position: static;
                }
            }
        }
    }
    .secondBlocks{
        .blocks{
            @include blocks(0);
            margin-right: 149px;
            justify-content: space-between;
            padding-bottom: 228px;   
            .wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 39.5px;
                height: 323px;
                .firm{
                    margin-left: 29px;
                    font: normal normal 900 16px/19px var(--sans-black);
                    letter-spacing: 0px;
                    color: #411141;
                }
            } 
        }
        .quotes{
            position: absolute;
            left: -45px;
            top: -40px;
            font: normal normal 300 205px/241px var(--sans-light);
            letter-spacing: 0px;
            color: #CD0000;
            transform: matrix(-1, 0, 0, -1, 0, 0);
        }
    }
}

.hyphen{
    @include hyphen();
}
