@import './Varablies.scss';

.noBackgroundBillboardText{
    @include noBackgroundBillboardText();
    width: 1115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    margin-bottom: 180px;
}

.buttonInput{
    @include buttonInput();
    background-color: $text-color;
}

.linkButton{
    @include linkButton(44px);
    margin-left: $main-margin-left;
    background-color: $main-color;
}

.linkButtonWrapper{
    padding-bottom: 101px;
}

.ksiegowosc{
    position: relative;
    @include start-animation();
    .headerTitle{
        @include headerTitle();
        // margin-top: 150px;
        margin-top: 50px;
        // width: 595px;
        width: auto;
        max-width: 1000px;
        margin-right: 150px;
    }
    .headerText{
        @include headerText();
        padding-bottom: 44px;
        margin-top: 52px;
        width: auto;
        max-width: 1000px;
        margin-right: 150px;
    }
    .title{
        @include title();
        // width: 488px;
        width: 1125px;
        margin-bottom: 120px;
        .boldFont{
            text-transform: lowercase;
        }
    }
    .smallText{
        @include smallText();
        padding-bottom: 31px;
    }
    .headerBoldFont{
        @include headerBoldFont();
    }
    .blocks{
        @include blocks(107px);
        margin-right: 0px;
        max-width: 1500px;
        .blockTitle{
            padding-top: 33px;   
            width: 260px;
        }
        .blockText{
            display: flex;
            padding: 29px 44px 0 29px;
            font: normal normal 300 16px/19px "Work Sans Light";
            letter-spacing: 0px;
            line-height: 2;
            color: $text-color;
        }
    }
    .secondTitle{
        .title{
            width: 673px;
            margin-bottom: 99px;
            .boldFont{
                text-transform: none;
            } 
        } 
    }
    .thirdTitle{
        .title{
            @include title();
            width: 761px;
            margin-bottom: 75.5px;
            .boldFont{
                text-transform: none;
            } 
        } 
    }
    .records{
        width: 1130px;
        display: flex;
        justify-content: space-between;
        margin-left: $main-margin-left;
        margin-bottom: 185px;
        .record{
            display: flex;
            flex-direction: column;
            position: relative;
            .top{
                font: normal normal 900 56px/66px "Work Sans Black";
                letter-spacing: 0px;
                color: $main-color;
                text-transform: lowercase;
            }
            .bottom{
                position: absolute;
                font: normal normal 300 16px/25px "Work Sans Light";
                letter-spacing: 0px;
                color: #411141;
                left: 0;
                bottom: -30px;
                width: 300px;
            }
        }
    }
    .secondBlocks{
        .blocks{
            @include blocks(0);
            margin-right: 149px;
            justify-content: space-between;
            padding-bottom: 228px;   
            .wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 39.5px;
                height: 323px;
                .firm{
                    margin-left: 29px;
                    font: normal normal 900 16px/19px "Work Sans Black";
                    letter-spacing: 0px;
                    color: #411141;
                }
            } 
        }
        .quotes{
            position: absolute;
            left: -45px;
            top: -40px;
            font: normal normal 300 205px/241px "Work Sans Light";
            letter-spacing: 0px;
            color: #CD0000;
            transform: matrix(-1, 0, 0, -1, 0, 0);
        }
    }
}

.hyphen{
    @include hyphen();
}
