@import './Varablies.scss';

$cities-width: 450px;

.menuContent{
    position: absolute;
    top: 0;
    width: 692px;
    padding: 53px 63px 0 56px;
    right: $sidebar-width;
    background: $main-color 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #411141AF;
    transition-duration: 0.4s;
    z-index: 111;
    @media (max-width: 1024px) {
        width: 100vw;
        right: 0;
        padding: 27px;
    }
    .iconsWrapper{
        a{
            text-decoration: none;
        }
    }
    .options{
        a{
            text-decoration: none;
        }
        h2{
            margin: 0;
            margin-bottom: 27px;
            font: normal normal 900 35px/42px "Work Sans Bold";
            letter-spacing: 0px;
            color: #FFFFFF;
            &.last{
                margin-bottom: 39.5px;
            }
            &.first{
                margin-top: 39.5px;
            }
            &:hover{
                color: $text-color;
                cursor: pointer;
            }
            @media (max-width: 1024px) {
                font: normal normal 900 30px/35px "Work Sans Black";
                margin-bottom: 20px;
                &.last{
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.split{
    width: 100%;
    height: 1px;
    background-color: $text-color;
}

.iconsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cities{
    width: $cities-width;
    padding-bottom: 44.5px;
    .cityWrapper{
        width: $cities-width / 3;
        display: inline-block;
    }
    p{
        font: normal normal 16px/27px "Work Sans Light";
        letter-spacing: 0px;
        color: #FFFFFF;
        margin: 0;
    }
}

.logo{
    font: normal normal 900 29px/34px "Work Sans Black";
    letter-spacing: 0px;
    color: $text-color;
}

.icons{
    width: 125px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
        display: none;
    }
}

.closeIcon{
    display: none;
    @media (max-width: 1024px) {
        display: block;
        &:hover{
            cursor: pointer;
        }
    }
}

.textOne, .textTwo{
    max-width: 323px;
    font: normal normal 300 16px/19px "Work Sans Light";
    letter-spacing: 0px;
    color: $text-color;
}

.textOne{
    padding: 21px 0;
}

.textTwo{
    padding-bottom: 39.5px;
    width: 340px;
    .bold{
        padding-left: 10px;
    }
}

.bold{
    font: normal normal 900 16px/19px "Work Sans Black";
    letter-spacing: 0px;
    color: $text-color;
}

.logo svg:hover path{
    transition-duration: 0.4s;
    fill: $text-color;
}

.profilLink{
    padding-left: 30px;
    // font: normal normal 900 20px/35px "Work Sans Black" !important;
}

.profilLinks{
    padding-top: 20px;
}

.wynajmijBiuro{
    @include linkButton(55px);
    width: 328px;
    font: normal normal bold 16px/19px "Work Sans Bold" !important;
    text-transform: uppercase;
    background-color: white;
    color: $main-color !important;
    &:hover{
        background-color: $text-color;
        color: #FFFFFF !important;
    }
    @media (max-width: 400px) {
        width: 100%
    }
}