@import '/styles/Varablies.scss';


.container{
  position: relative;
}

.titleTwo{
  @include title();
  width: 670px;
  // border-bottom: 1px solid #B9B9B9;
}

.titleThree{
  @include title();
  width: 1114px;
  margin-bottom: 46.5px;
}

.headerForm input[type=button]{
  @include buttonInput();
  background-color: $text-color;
}

.noBackgroundBillboardText{
  @include noBackgroundBillboardText();
}

.headerTitle{
  @include headerTitle()
}

.headerText{
  @include headerText()
}

.headerForm{
  @include headerForm();
  padding-bottom: 36px;
  position: absolute;
  bottom: 0;
}

.headerBoldFont{
  @include headerBoldFont();
}

.smallText{
  @include smallText()
}

.blocks{
  @include blocks(225.5px);
}

.blocksTwo{
  @include blocks(0px);
  padding-bottom: 282.5px;
}

.title{
  @include title();
}

