@import './Varablies.scss';
$text-padding: 22px;

@mixin package {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #B9B9B9;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

@mixin  packageTitle {
    padding: $text-padding 0; 
    font: 24px/28px "Work Sans Medium";
    letter-spacing: 0px;
    color: #411141;
    margin: 0;
    cursor: pointer; 
}

.kontoPakietTitle{
    @include packageTitle()
}

.packages{
    margin-left: $main-margin-left;
    border-top: 1px solid #B9B9B9;
    margin-bottom: 174.5px;
}

.package{
    @include package();
    max-height: 73px;
}

.open{
    @include package();
    max-height: 1400px;
}

.text{
    margin-left: 0;
    padding-bottom: $text-padding;
    width: 576px;

    font: normal normal 300 16px/25px "Work Sans Light";
    letter-spacing: 0px;
    color: #411141;
    padding-top: 0;
}

.title{
    @include packageTitle()
}

.textWrapper{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    z-index: 2;
}

.open{
    .textWrapper{
        .title, .kontoPakietTitle{
            font: normal normal 900 24px/28px "Work Sans Black";
            letter-spacing: 0px;
            color: #411141;
        }
    }
}

.buttonWrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 211px;
    // width: 226px;
    // height: 55px;
    background: $main-color 0% 0% no-repeat padding-box;
    border: none;
    cursor: pointer;
    font: normal normal bold 16px/19px "Work Sans Bold";
    letter-spacing: 0.8px;
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 2;
    a{
        color: white;
        padding: 18px 65px; 
    }
}

// .button{
//     width: 226px;
//     height: 55px;
//     background: $main-color 0% 0% no-repeat padding-box;
//     border: none;
//     cursor: pointer;
//     font: normal normal bold 16px/19px "Work Sans Bold";
//     letter-spacing: 0.8px;
//     color: #FFFFFF;
//     text-transform: uppercase;
// }

.arrowWrapper{
    position: absolute;
    top: $text-padding;
    right: 62px;
}
