@import './Varablies.scss';

.profile{
    position: relative;
    @include konto();
    @include profileInput();
    .login{
        margin-top: 14px;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .text{
        @include profileText();
    }
    .changeLogin{
        display: flex;
        flex-direction: column;
        // margin-right: 27px;
        .smallTitle{
            font: normal normal 900 16px/19px "Work Sans Black";
            color: $text-color;
            padding-top: 69.5px;
        }
    }
    .buttonInput{
        width: 226px !important;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-right: 0px;
        @media (max-width: 1000px) {
            // margin-right: 27px;
            width: 100% !important;
        }
    }
    .twoColumns{
        input{
            flex: 1;
        }
        @media (max-width: 900px) {
            flex-direction: column;
            height: 120px;
            input:first-child{
                margin-right: 0;
            }
        }
    }
}
