@import './Varablies.scss';

$main-margin-left: 50px;

.profileSidebar{
    position: static;
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    padding: 92px $main-margin-left 79px $main-margin-left;
    justify-content: space-between;
    width: 278px;
    min-height: calc(100vh - 150px);
    @media (max-width: 800px) {
        display: none
    }
    .categories{
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
    }
    a{
        color: white;
        font: normal normal 300 16px/30px var(--sans-light);
        &:hover{
            text-decoration: none;
        }
    }
    .active{
        a{
            font: normal normal 900 16px/30px var(--sans-black);
            letter-spacing: 0px;
            color: #121109;
        }
    }
    .buttonInput{
        @include buttonInput();
        background-color: $text-color;
        width: 178px;
        padding: 0;
 
    }
    .buttonInputWrapper{
        position: fixed;
        bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 178px;
        height: 55px;
    }
}