@import './Varablies.scss';

.profileSidebar{
    position: static;
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    padding: 92px $main-margin-left 79px $main-margin-left;
    justify-content: space-between;
    width: 278px;
    min-height: calc(100vh - 150px);
    .categories{
        display: flex;
        flex-direction: column;
        height: 250px;
        justify-content: space-between;
    }
    a{
        color: white;
        font: normal normal 300 16px/30px "Work Sans Light";
        &:hover{
            text-decoration: none;
        }
    }
    .active{
        a{
            font: normal normal 900 16px/30px "Work Sans Black";
            letter-spacing: 0px;
            color: #121109;
        }
    }
    .buttonInput{
        @include buttonInput();
        background-color: $text-color;
        width: 178px;
        padding: 0;
        position: fixed;
        bottom: 5%;
    }
}