@import './Varablies.scss';

.rozliczeniaFaktury{
    position: relative;
    @include konto();
    .text{
        @include profileText();
        max-width: 600px;
    }
}

.table{
    .headerRow{
        display: flex;
        font: normal normal 900 16px/19px var(--sans-black);
        letter-spacing: 0px;
        color: $text-color;
        :nth-child(n){
            padding: 0 5px;
        }
        .fifthRow{
            color: $text-color
        }
        @media (max-width: 700px) {
            font: normal normal 900 14px/19px var(--sans-black);
        }
    }
    .row{
        display: flex;
        font: normal normal 300 16px/19px var(--sans-light);
        letter-spacing: 0px;
        color: $text-color;
        :nth-child(n){
            padding: 0 5px;
        }
        @media (max-width: 700px) {
            font: normal normal 300 12px/19px var(--sans-light);
        }
    }
    .firstRow{
        width: 126px;
    }
    .secondRow{
        width: 452px;
    }
    .thirdRow{
        width: 113px;
    }
    .fourthRow{
        width: 126px;
    }
    .fifthRow{
        width: 126px;
        color: $main-color;
    }
}