@import './Varablies.scss';

$language-taxt-width: 98px;

.sidebar{
    position: absolute;
    right: 0;
    top: 0;
    width: $sidebar-width;
    height: 100%;
    border: 1px solid #B9B9B9;
    z-index: 1;
    // @media all and (max-width: 1024px){
    //     width: 70px;
    //     display: flex;
    // }
    // @media all and (max-width: 1024px){
    //     display: none;
    // }
    @media all and (max-width: 1215px){
        border: none;
    }
    @media all and (max-width: 1024px){
        width: auto;
        height: auto;
        border: none;
    }
}

.menuIconsWrapper{
    height: $sidebar-width;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (max-width: 1024px){
        height: 150px;
        margin-right: 40px;
    }
    @media all and (max-width: 700px){
        height: 92px;
        margin-right: 20px;
    }
}

.menuIcons{
    cursor: pointer;
}

.languageBlock{
    position: absolute;
    right: 0;
    top: $sidebar-width;
    width: 149px;
    height: $sidebar-width;
    border-bottom: 1px solid #B9B9B9;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (max-width: 1215px){
        display: none;
    }
    .text{
        width: $language-taxt-width;
        font: normal normal 300 16px/19px var(--sans-light);
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-bottom: 17px;
        margin-left: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .languages{
        display: flex;
        width: $language-taxt-width;
        justify-content: space-between;
        font: normal normal 300 16px/19px var(--sans-light);
        letter-spacing: 0px;
        color: #FFFFFF;
        .active{
            font: normal normal 300 16px/19px var(--sans-black);
            letter-spacing: 0px;
            color: #FFFFFF;
            cursor: pointer;
        }
        .language{
            cursor: pointer;
        }
    }
}