@import './Varablies.scss';

.userPackageChoices{
    display: flex;
    flex-direction: column;
    padding-left: $main-margin-left;
    margin-bottom: 60px;
    label{
        margin-left: 0 !important;
        margin-bottom: 1rem;
    }
    p{
        margin-bottom: 120px;
    }
}

.servicesTitle{
    @include title();
    width: 597px;
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 20px;
    .boldFont{
        text-transform: lowercase;
    }
}