@import './Varablies.scss';

.wynajecie{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    // position: relative;
    @media (max-width: 1400px) {
        >:nth-child(2){
            >:nth-child(2){
                >:nth-child(1){
                    border: none;
                    >:nth-child(2){
                        display: none;
                    }
                }
            }
        }
    }
    >:nth-child(2){
        position: static;
        @media (max-width: 1124px) {
            position: fixed;
        }
    }
    @media (max-width: 1124px) {
        flex-direction: column-reverse;
    }
}

.selectOptionWithBtn{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-height: 100vh;
}

.wynajecieHeader{
    height: 150px;
    border-bottom: 1px solid $main-color;
    display: flex;
    align-items: center;
    padding-left: $main-margin-left;
    @media (max-width: 1124px) {
        display: none;
    }
}

.wynajecieLogo a{
    @include header-logo();
    color: $main-color;
    margin-left: $main-margin-left;    
}

.servicesTitle{
    @include title();
    width: 597px;
    margin-top: 60px;
    @media all and (max-width: 1124px){
        margin-top: 305px;
    }
    .boldFont{
        text-transform: lowercase;
    }
}

.periodsTitle{
    @include title();
    width: 597px;
    margin-top: 60px;
    .boldFont{
        text-transform: lowercase;
    }
    .smallText{
        margin-left: 0px;
        width: 578px;
        padding-bottom: 0px;
    }
}

.confirmSelectOptionWrapper{
    display: flex;
    margin-left: 580px;
}

.confirmSelectOption{
    @include buttonInput();
    // margin-top: 40px;
    position: fixed;
    bottom: 5%;
    left: calc(100vw - 578px);
    background-color: $text-color;
}

.officeSearchConfirm{
    @include buttonInput();
    // margin-left: 486px;
    // margin-top: 40px;
    position: fixed;
    bottom: 5%;
    left: calc(100vw - 578px);
    background-color: $text-color;
}

.officeSearchConfirmWrapper{
    display: flex;
    justify-content: flex-start;
}