@import '../styles/Varablies.scss';

.wynajecie{
    @include linkButton(55px);
    margin-left: $main-margin-left;
    margin-top: 35px;
    width: 226px;
    background-color: $main-color;
    p{
        line-height: 55px;
        margin-bottom: 0;
        font: normal normal bold 16px/19px "Work Sans";
    }
    a{
        height: auto;
    }
    @media (max-width: 700px) {
        margin-left: 26px;
        height: 38px;
        width: 156px;
        p{
            line-height: 38px;
            font: normal normal bold 12px/14px "Work Sans Bold";
        }
    }
}

.hideWynajecie{
    height: 73px;
    opacity: 0;
}